<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007167103642-fgmrsvg2ouqj8svfrpa3s3090d6mll9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007167103642-fgmrsvg2ouqj8svfrpa3s3090d6mll9s</string>
	<key>API_KEY</key>
	<string>AIzaSyBhl7bbJzbmyZTJpdcTUIHhEFwJxQHUXMI</string>
	<key>GCM_SENDER_ID</key>
	<string>1007167103642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elizeurs.TwitterSwiftUITut</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftuitut-6130b</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftuitut-6130b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007167103642:ios:b420a35aa844d4386a3523</string>
</dict>
</plist>